# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Things containing passwords
#.env

# Recommended by random internet users
#/bootstrap/compiled.php
#/vendor
#/build/logs
#/build/coverage
#/app/tests/_log
#composer.phar
#/.idea
#/_ide_helper.php
#/app/config/packages
#/public/packages
#/node_modules
#composer.lock
#app/config/local
#app/config/development
#.env.*.php

# Created by https://www.gitignore.io/api/laravel (removed doubles)
### Laravel ###
#npm-debug.log
# Laravel 5 & Lumen specific
#public/storage
#public/hot
#storage/*.key
#.env.php
#.env
#Homestead.yaml
#Homestead.json
# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
#.rocketeer/
# End of https://www.gitignore.io/api/laravel